* {
  box-sizing: border-box;
}

body{
  padding:10px;
  margin:5px;
  background:linear-gradient(#152245,#154733,#241130);
}

table{
display:block;
  border-collapse: collapse;
  width:100%;
  height:400px;
  overflow-y:scroll;
  padding:15px;
  margin-left:40px;
  background:white;
}
th{
  height:50px;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
.flex-container {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:flex-start;
  margin:5px 10px 10px 10px;
}
item1,item2{
margin:0 10px;}
form{
  color:white;
  padding:50px;
  font-size:50px;
}
input{
  font-size:24px;
  box-shadow:1px 1px 6px white;
  padding:1px;
  margin:15px;
}
label{
  color:wheat;
  font-size:26px;
  text-shadow:2px 2px 4px blue,2px 2px 10px wheat;
}
button{
  margin:50px;
  box-shadow:1px 1px 6px white;
  height:40px;
}
img{
float:right;
width:300px;
height:300px;
position:relative;
top:10px;
right:15px;}
.counting{
float:right;
color:white;}

h1{
color:green;
font-size: 40px;
letter-spacing: 3px;
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
p{
font-size:22px;
color:wheat;}